#glb-doc {
text-align:center;
width:100%;
}

.glb-conteudo {
margin:0 auto!important;
min-width:960px;
width:80em;
text-align:left;
background-color: white;
}

.glb-bloco {
overflow:hidden;
width:100%;
}

.glb-grid-1,.glb-grid-2,.glb-grid-3,.glb-grid-4,.glb-grid-5,.glb-grid-6,.glb-grid-7,.glb-grid-8,.glb-grid-9,.glb-grid-10,.glb-grid-11,.glb-grid-12 {
display:inline;
float:left;
margin:0 .833em;
}

.glb-grid-1 {
min-width:60px;
width:5em;
}

.glb-grid-2 {
min-width:140px;
width:11.665em;
}

.glb-grid-3 {
min-width:220px;
width:18.333em;
}

.glb-grid-4 {
min-width:300px;
width:85em;
}

.glb-grid-5 {
min-width:380px;
width:31.665em;
}

.glb-grid-6 {
min-width:460px;
width:38.333em;
}

.glb-grid-7 {
min-width:540px;
width:45em;
}

.glb-grid-8 {
min-width:620px;
width:51.665em;
}

.glb-grid-9 {
min-width:700px;
width:58.333em;
}

.glb-grid-10 {
min-width:780px;
width:65em;
}

.glb-grid-11 {
min-width:860px;
width:71.665em;
}

.glb-grid-12 {
min-width:940px;
width:78.333em;
}

.glb-primeiro {
margin-left:0;
}

.glb-ultimo {
margin-right:0;
}

body {
font:x-small arial,helvetica,freesans,sans-serif;
font-size:1.25ex;
}

#glb-doc {
font-size:1.2em;
}

select,input,textarea {
font:.99em arial,helvetica,clean,sans-serif;
}

* {
background:transparent;
font-family:inherit;
font-size:100%;
margin:0;
outline:0;
padding:0;
}

body {
background:#fff;
line-height:1;
}

table {
border-collapse:collapse;
border-spacing:0;
}

legend,hr {
display:none;
}

li {
list-style:none;
}

a {
text-decoration:none;
}

caption,th {
text-align:left;
}

blockquote:before,blockquote:after,q:before,q:after {
content:"";
content:none;
}

blockquote,q {
quotes:;
}

abbr,acronym,img,fieldset {
border:0;
}

sup {
vertical-align:text-top;
}

sub {
vertical-align:text-bottom;
}

input,textarea,select {
font-family:inherit;
font-size:inherit;
font-weight:inherit;
}

.foto {
overflow:hidden;
zoom:1;
}

.foto .borda-interna,.foto .borda-interna img {
float:left;
overflow:hidden;
}

.foto .borda-interna:hover {
border:3px solid;
}

.foto .borda-interna:hover img {
margin:-3px!important;
}

.destaque,.widget {
z-index:0;
}

.destaque .esquerda,.foto.esquerda,.widget .esquerda {
float:left;
margin-left:0;
}

.destaque .direita,.widget .direita {
float:right;
margin-right:0;
}

.destaque .foto,.widget .foto {
position:relative;
}

.destaque .foto img,.widget .foto img {
display:block;
}

span.canto-caixa-ce,span.canto-caixa-cd,span.canto-caixa-re,span.canto-caixa-rd {
height:2px;
width:2px;
position:absolute;
}

span.canto-caixa-ce,.widget span.canto-caixa-ce {
top:0;
left:0;
}

.widget span.canto-caixa-ce {
top:0;
left:-1px;
}

.destaque-urgente span.canto-caixa-ce {
top:0;
left:0;
}

span.canto-caixa-cd,.widget span.canto-caixa-cd {
top:0;
right:0;
}

.widget span.canto-caixa-cd {
top:0;
right:-1px;
}

.destaque-urgente span.canto-caixa-cd {
top:0;
right:0;
}

span.canto-caixa-re,.widget span.canto-caixa-re {
bottom:0;
left:0;
}

.widget span.canto-caixa-re {
bottom:-1px;
left:-1px;
}

.destaque-urgente span.canto-caixa-re {
bottom:0;
left:0;
}

span.canto-caixa-rd,.widget span.canto-caixa-rd {
bottom:0;
right:0;
}

.widget span.canto-caixa-rd {
bottom:-1px;
right:-1px;
}

.destaque-urgente span.canto-caixa-rd {
bottom:0;
right:0;
}

.destaque .foto span,.widget .foto span {
display:block;
height:3px;
width:3px;
position:absolute;
}

.destaque .foto span.canto-ce,.widget .foto span.canto-ce {
top:0;
left:0;
}

.destaque .foto span.canto-cd,.widget .foto span.canto-cd {
top:0;
right:0;
}

.destaque .foto span.canto-re,.widget .foto span.canto-re {
bottom:0;
left:0;
}

.destaque .foto span.canto-rd,.widget .foto span.canto-rd {
bottom:0;
right:0;
}

.destaque .foto,.widget .foto {
margin-bottom:.83em;
zoom:1;
}

.l50 {
width:50px;
}

.l90 {
width:90px;
}

.l95 {
width:95px;
}

.l140 {
width:140px;
}

.l200 {
width:200px;
}

.l290 {
width:290px;
}

.l300 {
width:300px;
}

.l620 {
width:620px;
}

span.canto-caixa-ce,span.canto-caixa-cd,span.canto-caixa-re,span.canto-caixa-rd {
_display:none;
}

.destaque .foto span,.widget .foto span {
_display:none;
}

.glb-opec>a {
display:none;
}

#glb-rodape {
min-width:960px;
overflow:hidden;
width:100%;
background-color:#0660b8;
}

#glb-rodape .glb-conteudo {
overflow:hidden;
padding:1.07em 0;
}

#glb-rodape a,#glb-rodape a:link,#glb-rodape a:visited {
color:#D5D7E1;
}

#glb-rodape a:hover {
text-decoration:underline;
}

#glb-rodape ul li {
display:inline;
}

#glb-rodape ul li a {
border-left:1px solid #666;
padding:0 5px 0 8px;
}

#glb-rodape ul li.primeiro a {
border:medium none;
}

#glb-rodape ul li.ultimo a {
padding-right:0;
}

#glb-rodape .rodape-menu-produtos {
border-bottom:1px solid #666;
clear:both;
margin-bottom:.92em;
overflow:hidden;
padding-bottom:.83em;
width:100%;
}

#glb-rodape .rodape-menu-produtos ul {
float:left;
padding-top:.16em;
}

#glb-rodape .rodape-menu-produtos a {
font-weight:700;
}

#glb-rodape .rodape-menu-produtos .rodape-todos-sites {
float:right;
padding-top:.17em;
}

#glb-rodape .rodape-menu-produtos .rodape-logo {
display:inline;
float:left;
height:1.5em;
padding:.17em 1.67em 0 0;
width:6em;
}

#glb-rodape .rodape-menu-produtos .rodape-logo a {
display:block;
font-size:.83em;
height:100%;
position:relative;
text-decoration:none;
}

#glb-rodape .rodape-menu-produtos .rodape-logo a strong {
cursor:pointer;
display:block;
height:100%;
overflow:hidden;
position:absolute;
width:10em;
text-indent:-9999px;
}

#glb-rodape .rodape-menu-servicos span {
display:inline;
float:left;
font-size:.91em;
padding-left:1px;
}

#glb-rodape .rodape-menu-servicos ul {
display:inline;
float:right;
font-size:.91em;
}

#glb-menu {
margin:0 auto 2.5em;
width:80.3em;
position:relative;
z-index:999;
}

#glb-menu ul.menu-itens {
border:1px solid #eee;
border-width:1px 0 0;
height:33px;
overflow:visible;
margin:0 10px;
zoom:1;
}

#glb-menu ul.menu-itens li {
color:#E6E6E6;
float:left;
position:relative;
}

#glb-menu ul.menu-itens li:hover .menu-subitens {
display:block;
}

#glb-menu ul.menu-itens li.menu-primeiro {
background:none;
}

#glb-menu ul.menu-itens li a.first-node {
color:#666;
cursor:pointer;
letter-spacing:0!important;
display:block;
float:left;
height:22px;
padding:8px 12px 0;
}

#glb-menu ul.menu-itens li a.first-node:hover {
border-top:1px solid #ddd;
margin-top:-1px;
text-decoration:none;
}

#glb-menu ul.menu-itens li.menu-primeiro a.first-node {
padding-left:0;
}

#glb-menu ul.menu-itens li.menu-primeiro a {
padding-left:0;
}

#glb-menu .aba {
background-color:#fff;
border:1px solid #cfcfcf;
border-width:2px 1px 0;
color:#666;
cursor:pointer;
height:21px;
letter-spacing:0!important;
left:0;
margin-top:-31px;
padding:9px 12px 0;
position:absolute;
top:0;
z-index:999;
}

#glb-menu .aba:hover {
cursor:pointer;
}

#glb-menu .aba .canto-te,#glb-menu .aba .canto-td {
display:block;
height:2px;
width:2px;
position:absolute;
top:-2px;
}

#glb-menu .aba .canto-te {
left:-1px;
}

#glb-menu .aba .canto-td {
right:-1px;
}

#glb-menu .menu-primeiro .menu-subitens {
background:none;
top:34px;
left:-13px;
}

#glb-menu .menu-subitens {
display:none;
position:absolute;
top:28px;
left:-1px;
min-width:12em;
width:12em;
zoom:1;
}

#glb-menu .menu-subitens .conteudo-subitens {
background-color:#fff;
border:1px solid #ddd;
border-width:0 1px;
overflow:hidden;
}

#glb-menu ul.menu-itens .menu-subitens .menu-canto-re,#glb-menu ul.menu-itens .menu-subitens .menu-canto-rd,#glb-menu ul.menu-itens .menu-subitens .menu-canto-td,#glb-menu ul.menu-itens .menu-subitens .menu-canto-te {
font-size:1px;
height:5px;
}

#glb-menu ul.menu-itens .menu-subitens .menu-canto-re {
margin-right:5px;
}

#glb-menu ul.menu-itens .menu-subitens .menu-canto-rd {
position:absolute;
bottom:0;
right:0;
width:5px;
}

#glb-menu ul.menu-itens .menu-subitens .menu-canto-td {
position:absolute;
right:0;
top:0;
width:5px;
}

#glb-menu ul.menu-itens .menu-subitens .menu-canto-te {
margin-right:5px;
}

#glb-menu ul.menu-itens .menu-subitens ul {
float:left;
padding:8px 10px;
width:136px;
}

#glb-menu ul.menu-itens .menu-subitens li {
background:none;
color:#595959;
display:block;
float:none;
line-height:14px;
zoom:1;
}

#glb-menu ul.menu-itens .menu-subitens li.submenu-agrupador {
border-bottom:1px solid #ccc;
margin-bottom:8px;
padding-bottom:7px;
}

#glb-menu ul.menu-itens .menu-subitens li.submenu-agrupador a,#glb-menu ul.menu-itens .menu-subitens li.submenu-agrupador span {
font-weight:700;
padding:1px 3px;
}

#glb-menu ul.menu-itens .menu-subitens li:last-child {
border:0;
margin:0;
padding:0;
}

#glb-menu ul.menu-itens .menu-subitens li a,#glb-menu ul.menu-itens .menu-subitens li span {
color:#595959;
display:inline-block;
padding:2px 4px;
}

#glb-menu ul.menu-itens .menu-subitens li a:hover {
background:#666;
}

#glb-menu ul.menu-itens .menu-subitens li a:hover,#glb-menu ul.menu-itens .menu-subitens li a:hover span {
color:#fff;
}

#glb-menu ul.menu-itens .menu-subitens .aba a {
display:block;
color:#666;
}

#glb-menu ul.menu-itens .menu-subitens .menu-subitens-interno ul {
float:none;
display:block;
padding:0;
}

#glb-menu ul.menu-itens .menu-subitens .menu-subitens-interno li {
border:0;
color:#aaa;
zoom:1;
}

#glb-menu ul.menu-itens .menu-subitens .menu-subitens-interno li a {
font-weight:400;
}

#glb-menu .base-texto {
border-top:1px solid #eee;
clear:both;
margin:10px;
padding-top:3px;
}

#glb-menu .base-patrocinio {
border-top:1px solid #cfcfcf;
clear:both;
height:2.75em;
line-height:2.75em;
padding:10px;
}

#glb-menu .base-patrocinio img {
float:right;
}

#glb-menu .base-patrocinio span {
float:left;
}

#glb-diretorio {
background-color:#1680E4;
}

#glb-diretorio span.glb-borda {
line-height:3px;
font-size:0;
}

#glb-diretorio span.glb-borda {
line-height:3px;
}

#glb-diretorio .glb-conteudo {
margin:0 auto;
padding-bottom:3em;
}

#glb-diretorio .glb-conteudo .glb-bloco {
border-top:none;
padding:0;
}

#glb-diretorio .glb-conteudo ul li.diretorio-indice {
margin:2.75em 0 1em;
}

#glb-diretorio .glb-conteudo ul li.item-quebra-linha {
margin-top:1.1em;
padding:1.44em 0;
}

#glb-diretorio .glb-conteudo .diretorio-indice strong {
color:#FFF;
font-size:1.17em;
font-weight:700;
letter-spacing:-.03em;
}

#glb-diretorio .glb-conteudo ul li a {
color:#FFF;
font-size:.92em;
line-height:1.45em;
}

#glb-diretorio .glb-conteudo ul li a:hover {
text-decoration:underline;
}

#glb-diretorio .divisoria {
border-left:1px solid #707cb1;
padding-left:8px;
}

.campo,.campo input,.campo input.error,.campo-error {
}

.botao,.botao a {
}

.opec-container {
margin-bottom:30px;
position:relative;
}

.publicidade-middle {
margin:14px auto 8px;
min-height:122px;
height:122px;
overflow:visible;
position:relative;
width:940px;
}

#middle-banner {
bottom:10px;
height:100px;
left:9px;
overflow-y:hidden;
position:absolute;
width:920px;
z-index:999!important;
}

#banner-conteudo {
top:-420px;
height:520px;
position:absolute;
}

#banner-conteudo object {
position:absolute;
top:0;
left:10px;
top:26px;
top:26in;
}

#banner-conteudo embed {
top:0;
}

.box-opec-middle {
padding:10px 0;
border:1px solid #D1D1D1;
position:absolute;
margin-top:3px;
height:100px;
width:938px;
left:0;
z-index:500!important;
background-color:#fff;
}

.box-opec-middle p {
background:#fff;
color:#9C9C9C;
font-size:.75em;
left:2.84em;
padding:0 3px;
position:absolute;
text-transform:uppercase;
top:-.67em;
}

.botao-acao-publicidade {
padding:0;
position:absolute;
left:458px;
text-align:center;
top:-1.28em;
height:2em;
width:2.3em;
overflow:hidden;
text-indent:-9999px;
}

.widget {
border:1px solid #ddd;
border-top:0;
position:relative;
margin-bottom:2.5em;
}

.widget p,.widget strong {
display:block;
margin-bottom:.5em;
}

.widget-titulo {
border-top:2px solid #A1A1A1;
overflow:hidden;
zoom:1;
}

.widget-titulo strong {
color:#333;
font-size:1.333em;
float:left;
padding:10px 0 11px 12px;
width:70%;
margin-bottom:0;
}

.widget-titulo strong a {
color:#333;
}

.widget-titulo strong a:hover {
color:#333;
}

.widget .chamada strong a {
font-size:1.5em;
letter-spacing:-.03em;
}

.widget .chamada-principal {
border-top:1px solid #ddd;
padding:5px;
}

.widget .chamada-secundaria .foto {
margin-right:.83em;
}

.widget .chamada-rodape a {
font-size:1em;
font-weight:700;
}

.widget .chamada-rodape a.rodape-titulo {
display:block;
font-size:1.1em;
font-weight:700;
letter-spacing:-.03em;
}

.widget .chamada-rodape,.widget .chamada-secundaria li {
border-top:1px solid #ddd;
clear:both;
padding:9px 12px 10px;
overflow:hidden;
}

.widget .chamada-secundaria ul {
border:1px solid red;
}

.widget .chamada-secundaria li {
border:1px solid blue;
}

.widget .comercial-e1 {
float:right;
margin:1px;
width:60px;
}

.widget .foto {
margin-bottom:1px;
}

.widget .ant span,.widget .prox span {
text-indent:-9999px;
display:block;
margin:5px 0 0 5px;
height:65%;
width:70%;
background:#CCC;
position:relative;
z-index:-1;
overflow:hidden;
}

.widget .ant {
display:block;
width:24px;
height:24px;
}

.widget .ant:hover {
}

.widget .ant:active {
}

.widget .prox {
display:block;
width:24px;
height:24px;
}

.widget .prox:hover {

}

.widget .prox:active {
}

.widget .nav .navegacao-pagina {
color:#D4D4D4;
font-size:1.92em;
margin:0 2px;
}

.widget .nav .activeSlide {
color:#666;
}

.destaque {
margin-bottom:1.666em;
padding-bottom:10px;
overflow:hidden;
zoom:1;
}

.destaque .esquerda {
margin-left:0!important;
}

.destaque .direita {
margin-right:0!important;
}

.glb-grid-4 .destaque:last-child {
background:0;
margin:0;
}

.chamada .chapeu,.chamada-relacionada .chapeu {
font-size:.833em;
font-weight:700;
text-transform:uppercase;
color:#666;
margin-bottom:5px;
line-height:1em;
display:inline-block;
min-width:3em;
}

.chamada .subtitulo {
color:#666;
line-height:1.2em;
}

.chamada a:hover {
text-decoration:underline;
}

.chamada .foto.esquerda {
float:left;
margin:0 1.5em .833em 0;
}

.chamada .foto.direita {
float:right;
margin:0 0 .833em .833em;
}

.chamada-secundaria li {
list-style:disc;
list-style-position:inside;
}

.chamada-relacionada li .titulo {
display:block;
font-size:1.166em;
font-weight:700;
letter-spacing:-.05em;
padding-bottom:.9em;
}

.chamada-relacionada li {
color:#5C6BAC;
list-style:disc;
list-style-position:inside;
font-size:1em;
padding-left:1px;
}

.chamada-relacionada a {
font-weight:700;
line-height:1.2em;
}

.noticias .destaque-tematico .destaque-titulo {
border-top-color:#a80000;
}

.esportes .destaque-tematico .destaque-titulo {
border-top-color:#607f03;
}

.entretenimento .destaque-tematico .destaque-titulo {
border-top-color:#f90;
}

.destaque-principal {
}

.destaque-principal p {
color:#686868;
font-size:1.17em;
line-height:1.2em;
}

.destaque-principal .titulo {
font-size:2.67em;
font-weight:700;
letter-spacing:-1px;
line-height:.98em;
display:block;
}

.destaque-principal .titulo a:hover {
text-decoration:underline;
}

.destaque-principal .subtitulo {
font-size:1.333em;
padding-bottom:12px;
}

.destaque-principal .titulo,.destaque-principal .subtitulo {
padding-bottom:12px;
}

.destaque-principal .foto {
margin-bottom:1.25em;
}

.destaque-principal .video {
padding-bottom:12px;
}

.destaque-principal .chamada-relacionada {
padding-bottom:10px;
}

.destaque-secundario p {
color:#686868;
font-size:1.17em;
}

.destaque-secundario {
}

.destaque-secundario .chamada .titulo {
font-size:1.5em;
font-weight:700;
letter-spacing:-.03em;
letter-spacing:-1px;
line-height:1.1em;
display:block;
}

.destaque-secundario .chamada .chapeu {
font-size:.83em;
}

.destaque-secundario .chamada .titulo,.destaque-secundario .chamada .subtitulo {
padding-bottom:7px;
}

.destaque-secundario .duplo {
width:140px;
}

.destaque-secundario .duplo .foto {
margin-right:0;
margin-bottom:.93em;
}

.destaque-secundario-wide .foto {
margin-right:0;
}

.destaque-secundario .chamada-relacionada {
clear:both;
padding-bottom:10px;
}

.destaque-terciario p {
color:#686868;
}

.destaque-terciario {

}

.destaque-terciario .chamada .titulo {
font-size:1.33em;
font-weight:700;
letter-spacing:-.04em;
letter-spacing:-1px;
line-height:1.1em;
display:block;
margin-bottom:5px;
}

.destaque-terciario .chamada .chapeu {
font-size:.83em;
margin-bottom:8px;
}

.destaque-terciario .chamada .subtitulo {
font-size:1em;
margin-bottom:8px;
}

.destaque-terciario .foto.esquerda {
margin:0 14px 10px 0;
}

.destaque-terciario .chamada .conteudo {
float:left;
width:58%;
}

.destaque-terciario .chamada .chapeu-topo-foto {
display:block;
}

.destaque-agrupamento {
margin-bottom:1.95em;
}

.destaque-agrupamento .ultimo {
border-right:none!important;
margin-right:0!important;
padding-right:0!important;
}

.destaque-agrupamento li {
list-style:none!important;
}

.destaque-agrupamento .quadruplo {
float:left;
overflow:hidden;
width:630px;
zoom:1;
}

.destaque-agrupamento .quadruplo li {
float:left;
min-width:140px;
margin-right:1.66em;
width:11.665em;
_margin:0;
_min-width:140px;
_width:150px;
}

.destaque-agrupamento .destaque-topo {
border-top:4px solid #000;
overflow:hidden;
padding-top:12px;
padding-bottom:21px;
zoom:1;
}

.destaque-agrupamento .destaque-topo-conteudo {
float:left;
}

.destaque-agrupamento .destaque-topo .titulo {
font-size:1.67em;
font-weight:700;
display:block;
letter-spacing:-1px;
line-height:100%;
text-decoration:none;
}

.destaque-agrupamento .destaque-topo .titulo span {
color:#333;
}

.destaque-agrupamento .chamada .foto {
margin-bottom:7px;
margin-bottom:10px;
}

.destaque-agrupamento .quadruplo .foto {
margin-bottom:12px;
}

.destaque-agrupamento .chamada .foto.esquerda {
margin-bottom:1em;
margin-right:1.2em;
_margin-right:.8em;
}

.destaque-agrupamento .foto.l90 {
margin-bottom:12px;
}

.destaque-agrupamento .chapeu {
color:#666;
}

.destaque-agrupamento .chamada-secundaria .chapeu {
margin-bottom:6px;
}

.destaque-agrupamento .chamada a.titulo {
display:block;
font-size:1.166em;
font-weight:700;
letter-spacing:-1px;
line-height:1.2em;
padding-bottom:8px;
}

.destaque-agrupamento .quadruplo a.titulo {
display:block;
font-size:1.166em;
font-weight:700;
letter-spacing:-1px;
line-height:1.2em;
padding-bottom:8px;
}

.destaque-agrupamento .chamada a.titulo:hover {
text-decoration:underline;
}

.destaque-agrupamento .chamada .subtitulo {
margin-top:-4px;
padding-bottom:8px;
}

.destaque-agrupamento .chamada-secundaria {

padding-top:1em;
overflow:hidden;
zoom:1;
}

.ul li.chamada-secundaria {
border-top:1px dotted #ddd;
padding-top:1em;
overflow:auto;
zoom:1;
}

.destaque-agrupamento .chamada-rodape {
border-top:1px solid #ddd;
padding-top:.83em;
}

.destaque-agrupamento .chamada-rodape a {
font-size:1.17em;
font-weight:700;
}

.destaque-agrupamento.destaque {
margin-bottom:15px!important;
}

.widget-video .video {
margin-bottom:.83em;
overflow:hidden;
zoom:1;
}

.widget-video .video .container-video {
height:220px;
}

.widget-video .foto {
margin-bottom:0;
}

.widget-video .chamada-principal .chapeu,.widget-video .chamada-principal .titulo {
padding:0 7px;
}

.widget-video .chamada-principal .chapeu {
margin-bottom:3px;
}

.widget-video .chamada-principal .rodape {
font-size:1.5em;
letter-spacing:-.03em;
color:#333;
}

.widget-video .chamada-secundaria strong a {
font-size:1.2em;
}

.destaque-secundario .foto {
margin-bottom:12px;
}

.destaque-secundario .subtitulo {
line-height:16px;
}

.destaque-secundario .titulo {
line-height:1.1em;
}

.destaque-urgente {
background:#000;
clear:both;
color:#FFF;
margin-bottom:30px;
padding-bottom:0!important;
position:relative;
overflow:hidden;
}

* html .destaque-urgente {
height:1%;
}

.destaque-urgente .etiqueta {
background:#000;
color:#FFF;
font-size:1.83em;
font-weight:700;
float:left;
height:46px;
letter-spacing:-.03em;
padding:9px 0 0 15px;
width:203px;
}

.destaque-urgente .chamada {
background:#2F77C9;
float:right;
padding:9px 20px 0;
width:680px;
height:46px;
}

.destaque-urgente a,.destaque-urgente strong a {
color:#FFF;
}

.destaque-urgente a:hover {
text-decoration:underline;
}

.destaque-urgente .titulo {
color:#fff;
font-size:1.67em;
letter-spacing:-.03em;
padding-left:0;
width:auto;
}

.destaque-urgente .subtitulo {
clear:both;
color:#FFF;
margin-top:2px;
}

.destaque-principal.foto-topo {
margin-bottom:1.666em;
padding-bottom:8px;
}

.destaque-principal.foto-topo .foto {
margin-bottom:1.083em;
}

.destaque-principal.foto-topo .chapeu {
margin-bottom:.7em;
}

.destaque-principal.foto-topo .titulo {
padding-bottom:12px;
}

.destaque-principal.foto-topo .chamada-relacionada {
margin-bottom:12px;
}

.maisvistas {
position:relative;
}

.maisvistas ul {
list-style:none;
}

.maisvistas h2 {
color:#656565;
font-size:2em;
margin:10px 25px 0 0;
float:left;
letter-spacing:-1px;
}

.maisvistas ul,.maisvistas ul li {
margin:0;
padding:0;
}

.maisvistas .abas {
float:left;
margin:10px 0 0;
position:relative;
z-index:2;
}

.maisvistas .abas li {
float:left;
width:10.1em;
background-color:#f7f7f7;
border:1px solid #e7e7e7;
border-style:solid solid none;
margin-top:4px;
text-align:center;
margin-left:-1px;
}

.maisvistas .abas li.aba-primeira {
border-left:1px solid #e7e7e7;
margin-left:0;
}

.maisvistas .abas li a {
display:block;
height:1.8em;
padding-top:.6em;
}

.maisvistas .abas li a,.maisvistas .abas li a:link,.maisvistas .abas li a:active,.maisvistas .abas li a:hover {
color:#666;
text-decoration:none;
font-size:1.1em;
}

.maisvistas .abas li.ui-tabs-selected {
float:left;
border-bottom:1px solid #fff;
background-color:#fff;
margin-top:0;
}

.maisvistas .abas li.ui-tabs-selected a {
color:#333;
font-weight:700;
height:1.8em;
padding-top:.91em;
}

.maisvistas .aba-conteudo {
clear:left;
float:left;
position:relative;
z-index:1;
width:78.3em;
border-top:1px solid #e7e7e7;
padding-top:12px;
margin:-.1em 0 12px;
}

.maisvistas .aba-conteudo ul {
float:left;
}

.maisvistas-materias ul {
width:24.9em;
margin:7px 0 0 20px;
}

.maisvistas-materias ul.noticias {
margin-left:0;
}

.maisvistas-materias ul li {
border-bottom:1px solid #e6e6e6;
height:3.25em;
padding:9px 0 0 37px;
}

.maisvistas-materias ul li.item-ultimo {
border-bottom:none;
}

.maisvistas-materias a {
font-size:1.16em;
text-decoration:none;
}

.maisvistas-fotos {
border-top:1px solid #d1d1d1;
padding:8px 0 8px 8px;
}

.maisvistas-fotos ul {
overflow:hidden;
zoom:1;
}

.maisvistas-fotos ul.noticias {
margin-left:0;
}

.maisvistas-fotos ul li {
float:left;
display:inline;
margin:1px;
}

.maisvistas-fotos ul li a,.maisvistas-fotos ul li a img {
float:left;
}

.maisvistas-videos ul {
width:23.5em;
padding:8px;
border:1px solid #ddd;
margin-left:1.6em;
}

.maisvistas-videos ul.noticias {
margin-left:0;
}

.maisvistas-videos ul li {
border:1px solid #DDD;
margin-left:1.6em;
padding:8px;
width:23.5em;
}

.maisvistas-videos ul li a,.maisvistas-videos ul li a img {
float:left;
}

.maisvistas-videos ul li a img {
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.maisvistas-fotos,.maisvistas-videos {
}

.maisvistas-fotos .fotoMedia {
width:139px;
height:102px;
}

.maisvistas-fotos .fotoPequena {
width:92px;
height:70px;
}

.maisvistas-videos .videoGrande {
width:280px;
height:149px;
}

.maisvistas-videos .videoPequeno {
width:90px;
height:51px;
}

.maisvistas-tooltip {
position:absolute;
display:none;
padding:1px;
overflow:hidden;
}

.maisvistas-tooltip.bg1 {
background-position:0 0;
}

.maisvistas-tooltip.bg2 {
background-position:-102px 0;
}

.maisvistas-tooltip.bg3 {
background-position:-208px 0;
}

.maisvistas-tooltip.bg4 {
background-position:-359px 0;
}

.maisvistas-tooltip a {
position:relative;
display:block;
height:100%;
width:100%;
}

.maisvistas-tooltip a:hover {
text-decoration:none;
}

.maisvistas-tooltip.inverted .texto {
padding:7px 10px;
}

.maisvistas-tooltip .texto {
padding:4px 10px;
position:absolute;
}

.maisvistas-tooltip .numero {
height:48px;
width:29px;
float:left;
}

.maisvistas-tooltip .descricao {
font-size:.916em;
line-height:1.16em;
}

.maisvistas-tooltip.inverted .numero {
height:40px;
}

.maisvistas-tooltip.inverted .descricao {
clear:both;
line-height:1.09em;
}

.ui-tabs .ui-tabs-hide {
display:none;
}

.agrupamento-mosaico {
width:298px;
}

.maisvistas-fotos li.fotoMedia img {
min-height:70px;
}

.agrupamento-programacao .menu-apoio {
float:right;
padding-top:.5em;
}

.agrupamento-programacao .menu-apoio li {
border-right:1px solid #d6d6d6;
display:inline;
margin-right:.5em;
padding-right:.3em;
}

.agrupamento-programacao .menu-apoio a {
font-size:.833em;
text-transform:uppercase;
}

.agrupamento-programacao .widget-programacao .programacao-rodape a {
margin-top:0;
padding-top:0;
}

.widget-programacao {
float:right;
width:300px;
position:relative;
}

.widget-programacao .grade-programacao {
border:0 solid #d1d1d1;
border-top:0;
display:none;
overflow:hidden;
}

.destaque-agrupamento .grade-programacao li {
border-top:1px solid #d1d1d1;
clear:both;
padding:10px;
overflow:hidden;
height:19px;
margin-bottom:-60px;
_margin-bottom:0;
}

.widget-programacao a:hover,.agrupamento-programacao .menu-apoio a:hover {
text-decoration:underline;
}

.widget-programacao .grade-programacao li.primeiro {
border-top:none;
}

.widget-programacao .grade-programacao li .programacao-hora {
color:#c6c6c6;
float:left;
font-size:1.33em;
margin-right:.6em;
margin-bottom:0;
padding-top:2px;
}

.widget-programacao .grade-programacao li .programacao-noar {
display:none;
float:left;
height:13px;
margin-top:3px;
text-indent:-9999px;
overflow:hidden;
width:2.75em;
}

.widget-programacao .grade-programacao li a {
float:right;
font-weight:700;
z-index:999;
padding-top:3px;
}

.widget-programacao .programacao-rodape {
background:#F2F2F2;
font-size:.916em;
height:34px!important;
line-height:34px;
padding:0 10px 0 0!important;
}

.tooltip-template {
display:none;
position:relative;
}

.tooltip-info {
background:#FFF;
border:1px solid #DDD;
padding:.50em;
position:relative;
overflow:auto;
width:15em;
}

.tooltip-info .titulo {
color:#5d616a;
display:block;
font-size:1em;
padding:.35em;
}

.tooltip-info img {
float:left;
margin-right:.5em;
overflow:hidden;
}

.tooltip-info span {
display:block;
}

.tooltip-info .canto-caixa-ce,.tooltip-info .canto-caixa-cd,.tooltip-info .canto-caixa-re,.tooltip-info .canto-caixa-rd {
padding:0;
display:block;
}

.agrupamento-programacao .quadruplo {
background-repeat:repeat-y;
}

.agrupamento-ranking-textual .chamadas-maislidas {
border-top:1px solid #D1D1D1;
font-size:1.083em;
line-height:16px;
padding:0 10px;
}

.agrupamento-ranking-textual .chamadas-maislidas ol {
list-style-type:decimal;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li {
min-height:26px;
padding:0 0 8px;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li a {
display:block;
min-height:29px;
padding:9px 0 0 38px;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li a:hover {
text-decoration:underline;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li:first-child {
background:0;
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-2 a {
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-3 a {
}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-4 a {

}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-5 a {

}

.agrupamento-ranking-textual .chamadas-maislidas ol li.posicao-6 a {

}

.destaque-principal.wide-foto-topo {
margin-bottom:1.666em;
padding-bottom:8px;
}

.destaque-principal.wide-foto-topo .foto {
margin-bottom:12px;
}

.destaque-principal.wide-foto-topo .titulo {
padding-bottom:8px;
}

.destaque-principal.wide-foto-topo .chamada-relacionada {
margin-bottom:12px;
}

.destaque-principal.wide-foto-topo .foto .foto {
margin:0!important;
}

.destaque-principal.wide-foto-topo .foto .legenda {
background-color:#EEE;
padding:.8em;
color:#333;
font-size:.915em;
}

.triplo-wide .triplo {
width:200px;
margin-right:10px;
float:left;
}

.triplo-wide .triplo .chamada .titulo {
font-size:1.5em;
font-weight:700;
letter-spacing:-.03em;
letter-spacing:-1px;
line-height:1.1em;
display:block;
}

.triplo-wide .triplo .chamada .subtitulo {
font-size:1.17em;
}

.triplo-wide .triplo .foto {
margin-bottom:1em;
}

.triplo-wide .triplo .chamada .chapeu {
font-size:.83em;
}

.triplo-wide .triplo .chamada .titulo {
padding-bottom:4px;
}

.triplo-wide .triplo .chamada .subtitulo {
padding-bottom:8px;
}

.triplo-wide .triplo.ultimo {
margin-right:0;
}

.destaque-secundario.foto-meio .foto {
margin-top:4px;
}

.foto-legenda {
padding-bottom:20px;
}

.foto-legenda .legenda {
padding:0 10px 7px;
line-height:14px;
font-size:11px;
letter-spacing:0;
}

.foto-legenda .legenda-container {
background-color:#DDD;
}

.foto-legenda .foto {
margin-bottom:7px;
}

.widget-shopping .widget-titulo {
border-bottom:1px solid #DDD;
height:3em;
letter-spacing:-.02em;
}

.widget-shopping .shopping-produtos {
width:120px;
padding:15px 30px;
}

.widget-shopping .dados-produto,.widget-shopping .foto {
float:left;
}

.widget-shopping .dados-produto {
margin:30px 0 0 10px;
width:120px;
}

.widget-shopping .produtos-conteudo {
width:260px;
}

.widget-shopping .produtos-conteudo li {
width:250px;
}

.widget-shopping .loja {
color:#666;
font-size:.92em;
}

.widget-shopping .produto {
font-size:1.17em;
color:#555;
}

.widget-shopping .preco {
color:#A90101;
font-size:1.4em;
letter-spacing:-1px;
}

.widget-shopping .shopping-navegacao {
margin:0 auto;
padding:20px 10px;
width:86px;
position:relative;
}

.widget-shopping .shopping-busca {
padding:12px 7px 13px 10px;
background:#F7F7F7;
border-top:1px solid #DDD;
color:#666;
}

.widget-shopping .pos-ant {
position:absolute;
left:0;
top:0;
width:24px;
height:24px;
}

.widget-shopping .pos-prox {
position:absolute;
right:0;
top:0;
width:24px;
height:24px;
}

.widget-shopping .container {
float:right;
}

.widget-shopping .nav {
text-align:center;
width:52px;
margin:0 20px;
position:absolute;
top:12px;
top:8px;
}

.widget-shopping .nav .navegacao-pagina {

height:6px;
line-height:0;
text-indent:-9999px;
width:6px;
display:block;
float:left;
}

.widget-shopping .nav .navegacao-pagina span {
display:none;
}

.widget-shopping .nav .activeSlide {

}

.widget-shopping input.busca {

border:none;
height:30px;
width:183px;
font-size:1.69em;
padding:2px 4px;
color:#666;
font-style:italic;
}

.widget-shopping input.busca:hover {

}

.widget-shopping .canto-input,.widget-shopping .canto-submit {
display:inline-block;
width:4px;
height:30px;
margin:0 0 -12px -5px;
margin:0 0 0 -5px;
}

.widget-shopping .canto-input {

}

.widget-shopping .canto-submit {

}

.widget-shopping input.enviar {

border:none;
display:inline-block;
height:32px;
width:80px;
color:#666;
font-weight:700;
padding:0 0 4px 8px;
line-height:30px;
}

.glb-titulo {
height:72px;
}

#widget-quote-selector {
float:left;
overflow:hidden;
}

#widget-quote-selector h2 {
font-size:22px;
padding-top:0px;
}

#widget-quote-selector h2 span {
color:#999;
font-weight:400;
margin-left:5px;
}

#widget-quote-selector .expand-list {
background:url(../_images/sprite_refresh_mini_2.png) no-repeat scroll transparent;
cursor:pointer;
display:block;
float:left;
height:30px;
margin:-2px 0 0 5px;
overflow:hidden;
text-indent:-9999px;
width:30px;
border: 0px;
}

.widget-quote-selector-hold .expand-list {
background-position:5px 35px;
}

#widget-quote-selector .overlay {
background-color:#FFF;
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
filter:alpha(opacity=60);
-moz-opacity:.6;
-webkit-opacity:.6;
-khtml-opacity:.6;
opacity:.6;
z-index:3;
}

#widget-quote-selector-quotes {
display:none;
position:absolute;
z-index:2;
}

#widget-quote-selector-quotes .close-button,#widget-quote-selector-quotes .border-top-left,#widget-quote-selector-quotes .border-top-center,#widget-quote-selector-quotes .border-top-right,#widget-quote-selector-quotes .border-bottom-left,#widget-quote-selector-quotes .border-bottom-center,#widget-quote-selector-quotes .border-bottom-right {
background:none no-repeat scroll 0 0 transparent;

}

#widget-quote-selector-quotes .close-button {
background-position:-29px 0;
display:block;
height:32px;
position:relative;
width:31px;
z-index:2;
}

#widget-quote-selector-quotes .dropdown {
margin-top:-6px;
position:relative;
z-index:1;
}

#widget-quote-selector-quotes .border-top {
display:block;
overflow:hidden;
}

#widget-quote-selector-quotes .border-top-left {
background-position:0 -80px;
float:left;
height:9px;
width:6px;
}

#widget-quote-selector-quotes .border-top-center {
background-position:-6px -42px;
float:left;
height:9px;
width:270px;
max-width:488px;
}

#widget-quote-selector-quotes .border-top-right {
background-position:right -42px;
float:left;
height:9px;
width:6px;
}

#widget-quote-selector-quotes .border-middle {

margin-left:6px;
padding-right:8px;
}

#widget-quote-selector-quotes .border-middle .quotes {

margin-left:-6px;
max-height:100px;
overflow:auto;
padding-left:6px;
}

#widget-quote-selector-quotes .border-middle .quotes li {
color:#333;
cursor:pointer;
font-size:14px;
line-height:17px;
padding-bottom:5px;
padding-left:21px;
padding-top:5px;
}

#widget-quote-selector-quotes .border-middle .quotes li span {
color:#999;
font-size:13px;
display:block;
}

#widget-quote-selector-quotes .border-middle .quotes li:hover {
border-left:3px solid #A80000;
color:#A80000;
margin-left:0;
padding-left:18px;
}

#widget-quote-selector-quotes .border-bottom {
display:block;
overflow:hidden;
}

#widget-quote-selector-quotes .border-bottom-left {
background-position:0 -61px;
float:left;
height:9px;
width:6px;
}

#widget-quote-selector-quotes .border-bottom-center {
background-position:-6px -61px;
float:left;
height:9px;
max-width:488px;
width:270px;
}

#widget-quote-selector-quotes .border-bottom-right {
background-position:right -61px;
float:left;
height:9px;
width:6px;
}

#widget-quote-summary {
float:left;
display:inline;
margin:0 10px 0 0;
width:220px;
font-family:Arial,sans-serif;
}

#widget-quote-summary .date {
font-size:13px;
color:#448ABB;
font-weight: bold;
}

#widget-quote-summary .pctchng .signal {
float:left;
font-size:38px;
font-weight:400;
margin:7px 5px 0 0;
line-height:normal;
}

#widget-quote-summary .pctchng {
font-family:HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:56px;
letter-spacing:-3px;
line-height:50px;
}

#widget-quote-summary .cf-value {
font-size:22px;
}

#widget-quote-summary .cf-netchng {
font-size:20px;
line-height:23px;
}

#widget-quote-summary .cf-last .label {
color:#444;
font-size:22px;
text-transform:none;
}

#widget-quote-summary .cf-close .value {
color:#6d6d6d;
font-size:19px;
}

#widget-quote-summary .cf-close .label {
color:#6D6D6D;
display:inline;
font-size:11px;
margin-right:20px;
width:90px;
}

#widget-quote-summary .high-low .label {
color:#555;
font-size:10px;
padding-top:4px;
}

#widget-quote-summary .high-low .value {
color:#8b8b8b;
font-size:18px;
}

#widget-quote-summary .content {
border-left:0;
border-right:0;
color:#444;
font-size:12px;
}

#widget-quote-summary ul li {
height:30px;
}

#widget-quote-summary ul li.high-low {
margin-top:6px;
}

#widget-quote-summary ul .label {
width:110px;
float:left;
text-align:left;
text-transform:uppercase;
}

#widget-quote-summary ul .divisor {

}

#widget-quote-summary ul li.divisor {
padding-top:22px;
}

#widget-quote-summary ul li.cf-last {
padding-top:5px;
padding-bottom:11px;
}

#widget-quote-summary ul li.cf-close {
padding-top:17px;
}

.chart-nav {
background:#f0f0f0;
border:1px solid #DDD;
border-width:1px 1px 0;
float:left;
height:24px;
margin-left:10px;
overflow:hidden;
padding:7px 0;
width:698px;
position:relative;
}

#widget-period-selector {
float:right;
margin-right:8px;
display:block;
}

#widget-period-selector li {
float:left;
list-style:none;
margin-right:-1px;
cursor:pointer;
}

#widget-period-selector li .first {
border-radius:3px 0 0 3px;
-moz-border-radius:3px 0 0 3px;
-webkit-border-top-right-radius:0;
-webkit-border-bottom-right-radius:0;
}

#widget-period-selector li .last {
border-radius:0 3px 3px 0;
-moz-border-radius:0 3px 3px 0;
-webkit-border-top-left-radius:0;
-webkit-border-bottom-left-radius:0;
}

#widget-period-selector li a {
-webkit-box-shadow:0 1px 0 #E6E6E6;
-moz-box-shadow:0 1px 0 #E6E6E6;
border:1px solid #D2D2D2;
display:block;
color:#666!important;
height:22px;
line-height:22px;
font-size:11px;
font-weight:400;
text-transform:lowercase;
padding:0 10px;
}

#widget-period-selector li a:hover {
background-image:none;
background-color:#FAFAFA;
}

#widget-period-selector li a:active,#widget-period-selector li a.current,#widget-period-selector li a.current:hover,#widget-period-selector li a.current:active {
color:#111!important;
}

.chart-nav .overlay {
background-color:#FFF;
height:38px;
left:0;
position:absolute;
top:0;
width:100%;
filter:alpha(opacity=60);
-moz-opacity:.6;
-webkit-opacity:.6;
-khtml-opacity:.6;
opacity:.6;
z-index:1;
}

#widget-quote-chart-wrapper {
position:relative;
display:inline;
float:left;
margin-left:10px;
margin-top:-1px;
width:700px;
height:334px;
}

#widget-quote-chart {
height:334px;
overflow:hidden;
width:698px;
border:1px solid #DDD;
}

#widget-quote-chart .chart-tooltip {
display:none;
}

#quote-chart-overlay {
position:absolute;
top:0;
left:0;
height:334px;
width:698px;
margin:1px;
overflow:hidden;
text-indent:-9999px;
z-index:1;
}

#quote-chart-overlay.error {
}

#company-chart {
border-bottom:4px solid #eee;
margin-bottom:40px;
padding-bottom:40px;
}

.topo-especifico-super-wide {
border-bottom:8px solid #EEE;
margin-bottom:30px;
padding-bottom:5px;
}

#company-chart {
border-bottom:none;
height:485px;
margin-bottom:5px;
padding-bottom:0;
}

.widget-movers {
border-top:1px solid #DDD;
margin-top:0px;
}

.widget-movers .economy-widget {
margin-top:0px;
margin-bottom:20px;
}

.widget-movers .economy-widget h3.widget-titulo,.glb-grid-4 .widget-movers .economy-widget .widget-titulo {
border:none;
padding:9px 0 0;
letter-spacing:-.7px;
color:#555;
font-family:Arial,sans-serif;
font-size:18px;
font-weight:700;
height:auto;
line-height:24px;
margin-bottom:12px;
}

.widget-informativo-principal{
padding: 10px 10px 0px 15px;
}
.widget-informativo {
border:none;
padding:9px 0 0 0;
letter-spacing:-.7px;
color:#FF6600;
font-family:Arial,sans-serif;
font-size:18px;
font-weight:700;
height:auto;
line-height:14px;
border-top: 3px solid #EEE;
}

.widget-movers .widget-titulo span {
padding:0;
}

.widget-movers .widget-subtitle {
font-size:13px;
position:absolute;
top:35px;
color:#777;
}

.widget-movers .content {
border-left:0;
border-right:0;
color:#444;
font-size:12px;
}

.widget-movers table td span {
color:#999;
font-size:11px;
font-weight:400;
display:block;
padding-top:2px;
}

.widget-movers table .header td.first {
font-weight:400;
color:#444;
}

.widget-movers table {
width:100%;
}

.widget-movers table .header td {
border-bottom:1px solid #DDD;
color:#444;
font-size:11px;
padding-right:15px;
height:26px;
font-weight: bold; 
text-align: center;
}

.widget-movers table td.last {
padding-right:0;
}

.widget-movers table .header td.pequeno {
width:65px;
}

.widget-movers table .header td.medio {
width:70px;
}

.widget-movers table .header td.grande {
width:90px;
}

.widget-movers table td {
height:40px;
padding-right:0px;
text-align:center;
font-weight: bold;
}

.widget-movers table .even td,.widget-movers table .odd td {
}

.widget-movers table tr:hover td {
background-color:#F5F5F5;
}

.widget-movers table tr.header:hover td {
background-color:#FFF;
}

.widget-movers table td.first {
text-align:left;
font-weight:bold;
color:#737373;
padding-top: 7px;
}

.widget-movers table tr.last td {
background-image:none;
border-bottom:none;
}

.glb-grid-4 .glb-area .destaque:last-child {
background:0;
margin-bottom:20px;
}

#glb-menu .item-destacado {
font-weight:700;
}

#glb-menu ul.menu-itens {

}

#glb-menu .menu-primeiro .menu-subitens {
left:-7px;
}

#glb-menu ul.menu-itens .menu-subitens .menu-canto-re,#glb-menu ul.menu-itens .menu-subitens .menu-canto-rd,#glb-menu ul.menu-itens .menu-subitens .menu-canto-td,#glb-menu ul.menu-itens .menu-subitens .menu-canto-te {
display:block;
}

#glb-menu ul.menu-itens .menu-subitens li a,#glb-menu ul.menu-itens .menu-subitens li span {
color:#c30000;
}

#glb-menu ul.menu-itens .menu-subitens li a:hover {
background:#c30000;
}

#glb-menu ul.menu-itens .menu-subitens li a.agrupador-titulo,#glb-menu ul.menu-itens .menu-subitens li span.agrupador-titulo {
color:#c30000;
}

#glb-menu ul.menu-itens .menu-subitens li a.agrupador-titulo:hover {
color:#fff;
}

#glb-menu ul.menu-itens li a.first-node:hover {
border-top-color:#c30000;
}

#glb-menu ul.menu-itens li a.first-node {
padding:8px 6px 0;
}

#glb-menu .aba {
border-top-color:#c30000;
padding:9px 6px 0;
}

#glb-corpo a {
color:#006699;
background: transparent;

}
/*Alterações - chuvas rmr*/
#glb-corpo span.glb-corpo-span-preto{
color:#000000;	
}

#glb-corpo span.glb-corpo-span-azul{
color:#006699;	
font-weight: bold;
}
/*fim*/

.chamada li {
color:#A80000;
}

.widget-video .widget-titulo {
border-color:#A80000;
}

.agrupamento-mosaico .widget-titulo {
border-color:#c00;
}

.destaque-agrupamento.destaque {
margin-bottom:19px!important;
margin-bottom:18px!important;
margin-bottom:16px!important;
}

.destaque-agrupamento .destaque-topo {
border-color:#666;
}

.destaque-agrupamento .destaque-topo .titulo {
color:#333;
}

.destaque-agrupamento .destaque-topo a.titulo span:hover {
color:#A80000;
}

.destaque-agrupamento .destaque-topo a.titulo:hover span {
color:#A80000;
}

.foto a.borda-interna:hover,.foto .borda-interna img {
border-color:#A80000;
}

.widget {
margin-bottom:40px;
}

#glb-diretorio {
background-color:#900;
}

#glb-diretorio .glb-conteudo .diretorio-indice strong {
color:#fff;
}

#glb-diretorio .glb-conteudo ul li a {
color:#F8E6E6;
}

#glb-diretorio .divisoria {
border-color:#af3434;
}

#glb-diretorio {
margin-top:10px;
}

#ge-menu-mosaico {
position:relative;
}

#ge-mosaico {
background-color:red;
height:30px;
position:absolute;
right:0;
top:0;
width:50%;
z-index:30;
}

.opec-position,.glb-opec #opec-position,.glb-opec #opec-position1,.glb-opec #opec-position2,.glb-opec #opec-position3,.opec-container {
margin-bottom:40px;
}

.glb-opec #opec-right2 {
margin-bottom:20px;
}

.opec-position p,.opec-right2 p {
color:#979797;
font-size:10px;
font-weight:700;
margin-bottom:3px;
text-transform:uppercase;
}

#busca-padrao form fieldset button {
color:#fff;

}

#busca-padrao form fieldset button:hover {

}

#sugestoes {
background:#fff;
border:solid 1px #ddd;
float:left;
letter-spacing:-.05em;
margin:1px 0 0;
position:absolute;
width:298px;
}

#sugestoes ul {
font-size:1.25em;
}

#sugestoes ul li {
list-style:none;
margin:0;
}

.sugestao {
background:#fff;
color:#333;
cursor:pointer;
padding:5px 0 5px 15px;
}

.sugestao-hover {
background:#06d;
color:#fff;
cursor:pointer;
padding:5px 0 5px 15px;
}

.sugestao-hover span,.sugestao-hover label {
color:#fff;
}

.buscaFixa {
border-top:solid 1px #ddd;
margin-top:3px;
padding:5px 0 5px 5px;
}

.buscaFixa em {
font-weight:400;
}

.buscaFixa label {
cursor:pointer;
}

.buscaFixa span {
display:none;
}

.buscaFixa a {
color:#333;
display:block;
padding:3px 0;
text-decoration:none;
font-weight:bolder;
}

.buscaFixa a:hover {
color:#fff;
display:block;
padding:3px 0;
text-decoration:none;
}

.widget-titulo {
border-top:2px solid #c00;
}

.widget-plantao .noticia-plantao a {
color:#A80000;
}

.widget-plantao .widget-plantao-botao-topo a,.widget-plantao .widget-plantao-botao-rodape a {
background-color:#A80000;

}

.widget-plantao .borda-interna:hover {
border:solid 3px #A80000!important;
}

.thumbnail-plantao .borda-interna:hover {
border-color:#A80000;
}

.widget-plantao .item-noticia-thumbnail .borda-interna:hover img {
margin:-3px!important;
}

.widget-plantao .chamada-com-foto {
width:188px!important;
}

.widget-plantao .item-noticia-thumbnail {
_position:static;
_display:inline;
}

.widget-plantao .item-noticia-thumbnail a.borda-interna:hover {
_border:0!important;
}

.widget-plantao .item-noticia-thumbnail .borda-interna:hover img {
_margin:0!important;
}

.widget-playlist-wide .playlist .horizontal-next a,.widget-playlist-wide .playlist .horizontal-prev a {
background-color:#C00;
}

.cabecalho-produto .editoria {
width:335px;
}

.agrupamento-vertical-simples .remover-borda-chamada {
background:none;
padding-top:0;
}

.glb-carrossel .glb-carrossel-titulo-borda,.glb-carrossel .glb-carrossel-titulo-seta,.glb-carrossel .glb-carrossel-navegacao-item-bg-ativo {
background-color:#A80000!important;
}

#glb-corpo .glb-carrossel .glb-carrossel-navegacao a {
color:#FFF;
}

#glb-corpo .glb-carrossel .glb-carrossel-adicionais a {
color:#f49090;
}

#galeria .bloco-galeria .barra .navegacao-base a.ico-mosaico {
color:#D2D2D2!important;
}

#galeria .bloco-galeria .fim .topo a.voltar {
color:#D2D2D2!important;
}

#galeria .bloco-galeria .fim .share .opcoes a {
color:#D2D2D2!important;
}

#galeria .bloco-galeria .barra .navegacao-base a.ico-mosaico:hover {
color:#FFF!important;
}

#galeria .bloco-galeria .fim .topo a.voltar:hover {
color:#FFF!important;
}

#galeria .bloco-galeria .fim .share .opcoes a:hover {
color:#FFF!important;
}

#galeria .bloco-galeria .mosaico .paginacao a {
color:#545454!important;
}

#galeria .bloco-galeria .mosaico .paginacao a.ativo {
color:#D2D2D2!important;
}

#galeria .bloco-galeria .mosaico .paginacao a:hover {
color:#D2D2D2!important;
}

#galeria .bloco-galeria.w620._4x3 {
margin-bottom:15px!important;
}

#galeria .barra-ferramentas.w620._4x3 {
width:620px;
}

#galeria .bloco-galeria .navegacao a {
background-color:transparent!important;
}

#glb-materia .barra-ferramentas {
padding-bottom:12px;
}

#glb-materia .barra-ferramentas a,#glb-galeria .barra-ferramentas a {
color:#666;
}

#glb-materia .barra-ferramentas .ferramentas-opcoes .item-impressao,#glb-galeria .barra-ferramentas .ferramentas-opcoes .item-impressao {
line-height:2.4em;
}

#glb-materia .barra-ferramentas .ferramentas-opcoes .item-impressao a,#glb-galeria .barra-ferramentas .ferramentas-opcoes .item-impressao a {

}

#glb-galeria .barra-ferramentas .ferramentas-opcoes {
background:none;
}

#glb-galeria .galeria-titulo h1 {
color:#333;
}

#glb-rodape {
background-color:#800;
color:#fff;
}

#glb-rodape .rodape-menu-produtos,#glb-rodape .rodape-menu-produtos a,#glb-rodape .rodape-menu-servicos a {
border-color:#a00;
}

#glb-rodape a,#glb-rodape a:link,#glb-rodape a:visited {
color:#fff;
}

#glb-rodape .rodape-menu-produtos ul {
padding-top:.25em;
}

#glb-rodape .rodape-menu-produtos .rodape-logo a strong {
position:relative;
width:90px;
margin-right:-15px!important;
}

.widget-shopping {
_overflow:hidden;
_width:298px;
}

.widget-shopping .shopping-busca {
_margin-top:20px;
}

.widget-shopping .ant span,.widget-shopping .prox span {
background-color:#A80000;
}

.widget-shopping .shopping-produtos .dados-produto {
margin-top:20px;
}

.glb-bloco.shopping-horizontal {
margin-bottom:45px;
}

#globoshopping-superwide {
margin-top:30px;
}

.l380 {
width:380px;
}

#glb-materia .linkspatrocinados {
background-color:#FDFDFD;
border:1px solid #E2E2E2!important;
clear:both;
}

#glb-materia div.box-links-patrocinados-google {
border:none!important;
margin-bottom:0!important;
}

.bloco-galeria .cor-borda {
border-color:#a80000;
}

.glb-primary-color,.glb-secundary-color {
color:#A80000;
}

#globo_destaque_carrossel .globo-carrossel-subtitulo-texto {
font-family:ProximaNova-Bold;
}

.glb-grid-3-5 {
min-width:260px;
width:21.66em;
display:inline;
float:left;
margin:0 .833em;
}

.grid-3-mercado {
width:18.333em;
}

.glb-grid-3-5.glb-primeiro {
margin-left:0;
}

.glb-grid-3-5.glb-ultimo {
margin-right:0;
}

.economy-updated {

background-repeat:repeat!important;
}

.economy-widget {
border:none;
}

.economy-widget span.canto-caixa-ce,.economy-widget span.canto-caixa-cd,.economy-widget span.canto-caixa-re,.economy-widget span.canto-caixa-rd {
z-index:100;
}

.economy-widget span.canto-caixa-ce {
left:0;
top:0;
}

.economy-widget span.canto-caixa-cd {
right:0;
top:0;
}

.economy-widget span.canto-caixa-re {
bottom:0;
left:0;
}

.economy-widget span.canto-caixa-rd {
bottom:0;
right:0;
}

.economy-widget-ssi .status-overlay {
display:none;
}

.economy-widget .status-overlay {
bottom:1px;
left:1px;
right:1px;
top:1px;
position:absolute;
z-index:99;
}

.economy-widget-borderless .status-overlay {
bottom:0;
left:0;
right:0;
top:0;
}

.economy-widget-loading .status-overlay {

}

.economy-widget .status-overlay .error_message {
display:none;
}

.economy-widget-error .status-overlay {
background-color:#F5F5F5;
color:#999;
font-family:Arial,sans-serif;
font-size:11px;
line-height:13px;
text-align:center;
}

.economy-widget-error .status-overlay .error_message {

display:block;
margin:-43px auto 0;
padding-top:60px;
position:relative;
top:50%;
width:205px;
}

.economy-widget .error_message .reload {
cursor:pointer;
}

.economy-widget .error_message .reload:hover {
text-decoration:underline;
}

.economy-widget .widget-titulo,.economy-widget h2.widget-titulo {
border:1px solid #DDD;
border-left:2px solid #176998;
height:43px;
}

.economy-widget h2.widget-titulo {
height:23px;
}

.glb-grid-4 .economy-widget .widget-titulo,.glb-grid-3 .economy-widget .widget-titulo {
border-top:2px solid #176998;
border-left:1px solid #DDD;
}

.economy-widget-error .widget-titulo,.economy-widget-loading .widget-titulo {
border-left:1px solid #DDD;
}

.economy-widget .widget-titulo h2,.economy-widget .widget-titulo span,.economy-widget h2.widget-titulo {
color:#393939;
display:block;
font-family:Arial,sans-serif;
font-size:20px;
font-weight:700;
letter-spacing:-1px;
padding:10px 15px;
}

.economy-widget .content {
border-left:1px solid #DDD;
border-right:1px solid #DDD;
overflow:hidden;
}

.economy-widget-borderless .content {
border:0 none;
}

.economy-widget .alta {
color:#448ABB!important;
}

.economy-widget .baixa {
color:#B02929!important;
}

.economy-widget .chamada-rodape {
border:1px solid #DDD;
color:#777;
font-size:10px;
height:21px;
padding:9px 12px 0 15px;
text-align:right;
}

.economy-widget .chamada-rodape .deepening {
float:left;
font-size:12px;
letter-spacing:-.3px;
}

.economy-widget .chamada-rodape .disclaimer {
clear:right;
float:right;
}

.economy-widget .chamada-rodape .data {
float:right;
font-size:9px;
margin-top:-3px;
}

.economy-widget .agencia {
float:right;
margin-top:8px;
width:97px;
height:14px;
}

.glb-bloco.shopping-horizontal {
margin-bottom:30px;
}

.glb-bloco.reuters {
margin-bottom:33px;
}

.glb-bloco.reuters .glb-grid-12 {
overflow:hidden;
}

.glb-bloco.reuters .glb-grid-12 p {
float:left;
font-size:11px;
letter-spacing:0;
color:#A8A8A8;
width:682px;
line-height:14px;
}

.glb-bloco.reuters .glb-grid-12 img {
float:right;
}

.glb-grid-12 .base-economia-topicos {
border-top:8px solid #EEE;
padding-top:37px;
}

.publicidade-grid-7 .glb-opec .opec-right2 {
overflow:hidden;
}

.publicidade-grid-7 .opec-right2 p {
background:#FFF;
float:left;
margin:0 0 -5px 10px;
}

.publicidade-grid-7 .glb-opec #opec-right2 {
border:1px solid #DDD;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin-top:5px;
padding:5px 5px 5px 119px;
}

.glb-grid-12 .glb-titulo {
border-bottom:1px solid #DDD;
overflow:hidden;
height:32px;
margin-bottom:10px;
margin-top: 10px;
}

.glb-grid-12 .glb-titulo h2 {
color:#444;
float:left;
font-size:32px;
padding-top:0px;
letter-spacing:-1px;
}

.glb-grid-12 .glb-titulo .publicidade {
float:right;
}

.glb-grid-12 .top-empresas {
float:right;
}

span.red-hello-world {
color:red;
}

.glb-grid-8 .widget-ultimas-noticias {
border:0;
margin-bottom:40px;
}

.glb-grid-8 .widget-ultimas-noticias a:hover {
text-decoration:underline;
}

.glb-grid-8 .widget-ultimas-noticias .data {
margin-bottom:0;
}

.glb-grid-8 .widget-ultimas-noticias .titulo-widget {
border-top:4px solid #DDD;
overflow:hidden;
position:relative;
width:100%;
}

.glb-grid-8 .widget-ultimas-noticias .titulo-widget span {
color:#333;
font-weight:700;
font-size:20px;
letter-spacing:-1px;
margin-bottom:0;
padding:11px 0 17px;
display:block;
vertical-align:middle;
}

.glb-grid-8 .widget-ultimas-noticias .titulo-widget span.seta {
color:#a80000;
display:inline-block;
font-size:24px;
margin-bottom:-1px;
padding-left:4px;
}

.glb-grid-8 .widget-ultimas-noticias .titulo-widget .rss {
margin:13px 0 0;
position:absolute;
top:0;
right:0;
}

.glb-grid-8 .widget-ultimas-noticias .sem-borda {
border-top:none;
}

.glb-grid-8 .widget-ultimas-noticias .sem-borda p {
padding-top:0;
}

.glb-grid-8 .widget-ultimas-noticias .item-noticia-conteudo {
width:100%;
}

.glb-grid-8 .widget-ultimas-noticias .chamada-com-foto {
float:right;
min-width:188px;
width:188px;
}

.glb-grid-8 .corpo-noticias .chapeu {
margin-bottom:3px;
}

.glb-grid-8 .corpo-noticias .titulo {
display:block;
font-size:14px;
font-weight:700;
line-height:1.2em;
}

.glb-grid-8 .corpo-noticias .foto {
float:left;
margin:0 10px 6px 0;
overflow:hidden;
position:relative;
width:60px;
}

.glb-grid-8 .corpo-noticias .foto span {

width:3px;
height:3px;
position:absolute;
}

.glb-grid-8 .corpo-noticias .foto span.canto-cd {
background-position:-3px 0;
top:0;
right:0;
}

.glb-grid-8 .corpo-noticias .foto span.canto-re {
background-position:0 -3px;
bottom:0;
left:0;
}

.glb-grid-8 .corpo-noticias .foto span.canto-rd {
background-position:-3px -3px;
bottom:0;
right:0;
}

.glb-grid-8 .corpo-noticias .foto .borda-interna:hover {
border:3px solid;
}

.glb-grid-8 .corpo-noticias .foto .borda-interna:hover img {
margin:-3px!important;
}

.glb-grid-8 .corpo-noticias .foto .borda-interna {
overflow:hidden;
display:block;
}

.glb-grid-8 .corpo-noticias .foto .borda-interna img {
display:block;
}

.glb-grid-8 .corpo-noticias .hora {
color:#999;
float:left;
font-size:12px;
width:52px;
}

.glb-grid-8 .corpo-noticias .data {
background-color:#F8F8F8;
border-bottom:1px solid #DDD;
border-top:1px solid #DDD;
color:#868686;
font-size:10px;
font-weight:700;
padding:10px 0 11px 10px;
}

.glb-grid-8 .corpo-noticias .linha {
border-bottom:solid 1px #ccc;
display:block;
height:10px;
margin-bottom:-14px;
}

.glb-grid-8 .corpo-noticias .lista-noticia-plantao {
padding:0 0 4px;
}

.glb-grid-8 .corpo-noticias .item-chamada {
float:right;
width:246px;
}

.glb-grid-8 .corpo-noticias .item-noticia-plantao {
overflow:hidden;
padding:13px 0 11px;
width:100%;
}

.glb-grid-8 .corpo-noticias .item-noticia-plantao-primeiro {
background:none;
}

.glb-grid-8 .corpo-noticias-wide .destaque {
margin-bottom:0;
}

.glb-grid-8 .corpo-noticias-wide {
margin-bottom:5px!important;
}

.glb-grid-8 .corpo-noticias-wide p {
margin-bottom:.35em;
}

.glb-grid-8 .corpo-noticias-wide .titulo {
font-size:18px;
margin-bottom:3px;
letter-spacing:-1px;
}

.glb-grid-8 .corpo-noticias-wide .subtitulo {
font-size:1.166em;
line-height:1.2em;
color:#686868;
}

.glb-grid-8 .corpo-noticias-wide .hora {
font-size:14px;
width:62px;
margin-top:3px;
}

.glb-grid-8 .corpo-noticias-wide .foto {
width:90px;
height:60px;
margin-right:15px;
}

.glb-grid-8 .corpo-noticias-wide .item-chamada {
width:556px;
}

.glb-grid-8 .corpo-noticias-wide .item-noticia-plantao {
padding:15px 0 10px;
}

.glb-grid-8 .corpo-noticias-wide .chamada-com-foto {
min-width:453px;
width:188px;
}

.glb-grid-8 .widget-ultimas-noticias .widget-rodape {
border-top:1px solid #DDD;
font-size:14px;
font-weight:700;
letter-spacing:-.04em;
padding:9px 0;
}

.glb-grid-8 .widget-ultimas-noticias .foto .borda-interna,.foto .borda-interna img {
float:none;
}

#header {
margin-top:50px;
position:relative;
min-height:90px;
overflow:visible;
z-index:9000;
margin-left:10px;
}

#header #busca-padrao {
float:right;
margin-top:6px;
width:312px;
}

#header .marca-produto {
text-decoration:none;
display:block;
float:left;
height:90px;
overflow:hidden;
width:72px;
}

#header .info {
border-left:1px solid #DDD;
display:inline-block;
font-family:ProximaNova-Light;
height:46px;
margin:0 0 0 17px;
padding-left:19px;
position:relative;
text-transform:uppercase;
vertical-align:top;
zoom:1;
float:left;
display:inline;
}

#header .info .breadcrumbs {
font-size:16px;
letter-spacing:-.7px;
margin-top:0;
}

@-moz-document url-prefix() {
#headerinfobreadcrumbsmargin-top:-2px;
}
}

#header .info .breadcrumbs .proximo {
padding:0 5px 0 8px;
cursor:pointer;
}

#header .info .breadcrumbs .posicao-1,#header .info .breadcrumbs .posicao-2,#header .info .titulo,#header .info .titulo a,#header .info .tagline {
color:#575859;
}

#header .titulo {
font-size:38px;
font-weight:400;
letter-spacing:-2px;
margin-top:3px;
text-rendering:optimizeLegibility;
-moz-font-feature-settings:kern=1;
-ms-font-feature-settings:kern 1;
display:block;
}

#header .com-breadcrumb {
font-size:34px;
margin-left:-1px;
text-rendering:optimizeLegibility;
-moz-font-feature-settings:kern=1;
-ms-font-feature-settings:kern 1;
}

#header .formato-comercial {
position:absolute;
right:330px;
top:7px;
}

#header .marca-produto img {
margin-top:0;
}

#header .info .tagline {
font-family:ProximaNova-Light;
font-weight:400;
font-size:18px;
margin-top:14px;
margin-left:-2px;
letter-spacing:-1px;
cursor:default;
display:block;
}

#header .info .disable {
display:none;
}

#header .marca-secundaria {
margin-left:20px;
float:left;
}

#glb-cabecalho .marca-secundaria img {
position:absolute;
top:-50px;
}

#glb-conteudo {
margin:0 auto!important;
text-align:left;
width:960px;
}

#glb-topo .cabecalho-produto {
height:60px;
padding-bottom:5px;
padding-top:0!important;
}

#header .reduzido {
font-size:32px;
margin-top:7px;
}

@font-face {
font-family:ProximaNova-Thin;
font-weight:400;
font-style:normal;
font-variant:normal;
}

@font-face {
font-family:ProximaNova-Light;
font-weight:400;
font-style:normal;
font-variant:normal;
}

@font-face {
font-family:ProximaNova-Regular;
font-weight:400;
font-style:normal;
font-variant:normal;
}

@font-face {
font-family:ProximaNova-Semibold;

font-weight:400;
font-style:normal;
font-variant:normal;
}

@font-face {
font-family:ProximaNova-Bold;
font-weight:400;
font-style:normal;
font-variant:normal;
}

@font-face {
font-family:ProximaNova-Extrabold;
font-weight:700;
font-style:normal;
font-variant:normal;
}